{% extends 'news/base.html' %}
{% load static %}
{% block title %} Foydalanuvchilar ma'lumotlarini o'zgartitish {% endblock %}




{% block content %}
    <h2 class="text-center">Foydalanuvchi ma'lumotlarini o'zgartirish</h2>
    <p>Siz o'zingiz haqindizdagi ma'lumotlarni quyidagi forma orqali o'zgartirishingiz mumkin!</p>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit" class="btn btn-info">Saqlash</button>
    </form>


{% endblock %}