{% extends 'news/base.html' %}
{% load static %}

{% block title %} Foydalanuvchi parolini tiklash {% endblock title %}

{% block content %}
    <h3>Parolni tiklash</h3>
    <p>Parolingizni o'zgartirish uchun quydagi formani to'ldiring</p>
    {% if validlink %}
        <p>Iltimos yangi parolni ikki marotaba kiriting</p>
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-info">Parolni almashtirish</button>
        </form>
    {% else %}
            <p>Siz noto'g'ri linkdan foydalangansiz, u avval foydalanilgan yoki ishlatish vaqti tugagan bo'lishi mumkin</p>
    {% endif %}


{% endblock content %}