{% extends 'news/base.html' %}
{% load static %}

{% block title %} Batafsil {% endblock title %}


{% block content %}


    <div class="row">
        <article class="card shadow" style="width: 80%; margin: 10px auto; box-shadow: 1px 2px 1px 2px #ccc">

            <img src="{{ news.image.url }}" alt="image" width="30%">


            <h2>{{ news.title }}</h2>
            <p>
                {{ news.category.name }} -
                <time>{{ news.created_time }}</time>
            </p>
            <p>{{ news.body }}</p>


        </article>

        {% if request.user.is_authenticated and request.user.is_superuser %}
        <div class="card-footer text-center">

            <a href="{% url 'news_edit' news.slug %}">Tahrirlash</a>|
            <a href="{% url 'news_delete' news.slug %}">O'chirish</a>

        </div>
        {% endif %}
    </div>

{% endblock content %}

